* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Cart {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f3f6;
    height: 100vh;
}

.cartHeading {
    width: 100%;
    margin-top: 0;
    text-align: center;
    padding: 10px;
}

.summaryHeading {
    padding: 10px 10px 0 10px;
}

.cartItems {
    margin-top: 10px;
    max-height: calc(100vh - 150px);
    /* Adjust this value as needed */
    overflow-y: auto;
    /* Enable scrolling */
}

.cartDetails {
    flex-grow: 2;
    margin-right: 20px;
    /* Space between cartDetails and CartSummary */
}

.cartCalculation {
    padding: 10px;
    height: 60vh;
}

.DiscountSection {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
}

hr {
    margin-top: 10px;
}

.price-tags {
    margin-bottom: 15px;
}

li {
    list-style: none;
}

.CartItem {
    display: flex;
}

.ItemImage {
    padding: 10px 15px;
}

.ItemActions {
    margin-top: 10px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
}

.quantityDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button,
input {
    padding: 5px;
}

.checkOut {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.checkOut-actions {
    width: 45%;
}

.logout,
.remove-btn {
    background-color: tomato;
    border: none;
    color: white;
}

.remove-btn {
    width: 150px;
}

.CartSummary {
    margin-left: 10px;
    width: 300px;
    /* Fixed width for the summary */
    position: sticky;
    /* Sticky positioning */
    top: 10px;
    /* Stick to the top with some margin */
    align-self: flex-start;
    /* Align to the start of the container */
}

.checkout {
    background-color: rgb(11, 42, 244);
    border: none;
    color: white;
}

.apply-discount {
    background-color: rgb(56, 142, 60);
    border: none;
    color: white;
}

.count-btn {
    width: 30px;
    border-radius: 50%;
}

.bg-color {
    background-color: white;
}

.item-divider {
    margin: 15px 0;
    border: 1px solid #ccc;
}

.empty-cart {
    background-color: white;
    padding: 15px;
    font-size: 1.2rem;
}

.coupon-code {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 4px;
}